.btn2 {
  position: absolute;
  top: 40%;
  left: 12%;
}

.btn3 {
  position: absolute;
  top: 40%;
  left: 20%;
}

.btn4 {
  position: absolute;
  top: 40%;
  right: 15%;
}

.right img {
  max-width: 65%;
  height: 750px;
  float: right;
  position: relative;
  object-fit: cover;
}

.left {
  width: 40%;
  position: relative;
  top: 150px;
  margin-left: 50px;
  left: 0;
  padding-bottom: 8rem;
}

.right {
  position: absolute;
  top: 50px;
  right: 0;
}

.about {
  margin: 0px 30px;
  text-align: left;
  position: relative;
  top: 300px;
  text-align: center;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.about p {
  width: 100%;
  line-height: 3rem;
  font-size: 18px;
  margin: 50px 0px 50px;
}

.inter {
  position: relative;
  top: 300px;
  margin: 0px 30px;
  padding-bottom: 5rem;
}

.inter h2 {
  margin-left: 50px;
  position: relative;
  padding-bottom: 1rem;
}

.Interests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.InterestImages {
  object-fit: cover;
  float: left;
  flex-grow: 1;
  width: 400px;
  height: 400px;
}

.test {
  /* margin-left: 70px; */
  position: relative;
  top: 250px;
}

.contact {
  position: relative;
  width: 100%;
  top: 250px;
  justify-content: center;
}

.contact h2 {
  text-align: center;
  font-family: "Halvetica", "Arial";
}
label {
  font-size: 16px;
  font-family: "Halvetica", "Arial";
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
  font-family: "Halvetica", "Arial";
}

input[type="submit"] {
  background-color: #ff9999;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
}

/* Dakr hoover over submit button */
input[type="submit"]:hover {
  background-color: #ff6666;
}

/* Contact Form background colour */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  margin-left: 25%;
  margin-right: 25%;
  /* width: 50%; */
  align-items: center;
  align-self: center;
}

/* Flex Styling to make it responsive*/
.IntroSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#tagline1 {
  order: 1;
  flex-shrink: 2;
}

#tagline2 {
  order: 2;
  flex-shrink: 3;
}

.contact-us-btn {
  order: 3;
}

.right img {
  order: 4;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .right img,
  #tagline1 {
    width: 100%;
  }
  .IntroSection {
    flex-direction: column;
  }
}

.content {
  place-items: center;
}

#interest-title {
  text-align: center;
  margin-left: 0px;
}

#contact-us-title {
  margin-top: 50px;
}
